@CHARSET "UTF-8";
html,body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}
.hidden{
	display: none;
}
.msg{
	color: red;
}
#loginbody{
	background-color: #eee;
	border: 1px solid transparent;
}

#loginIn{
	margin: 56px auto 0 auto;
	width:300px;
	height: 216px;
}
#loginIn table{
	width:100%;
}
#loginIn .form-control{
	height:44px;
}
#login{
	margin-top: 20px;
}
#loginIn img{
	margin: 20px auto;
	display: block;
}

/* #loginIn table{
	width:100%;
} */

.table{
	table-layout: fixed;
	
}
.table tbody tr td{
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
#cboxLoadedContent thead{
	text-align: center;
	font-size: 30px;
	font-weight: bolder;
	
}
#cboxLoadedContent tfoot{
	text-align: center;
}



/***** Example custom styling *****/
label.btn-primary input[type="file"] {
    position: fixed;
    top: -1000px;
}


.allkp{
	padding-top: 20px;
}

.loading{
	margin-top:3px;
	width: 56px;
}

.tipmes{
	color: red;
	font-size: 25px;
	
}

.hand-point{
	cursor: pointer;
}

.sub-active a{
	color: #fff!important;
    background-color: #428bca;
}
